#cookie-bar {
    display: none;
}

/* Cookies */
.cookie_title {
    font-size: 25px;
    margin-bottom: 20px;
}
.is-modal1 p {
    margin-bottom: 20px;
}
#modal-cookies .modal-content {
    background: #ffffff;
    max-width: 1150px;
    padding: 40px;
}
#modal-cookies .modal-content .c-checkbox--main {
    margin-bottom: 0;
}
#modal-cookies .modal-content .c-checkbox--main input:disabled + label::after {
    background: #d7d7d7;
}
#modal-cookies .c-button {
    cursor: pointer;
    display: inline-block;
    padding: 0px 20px;
    margin-right: 20px;
    font-weight: 600;
    background: #0bf;
    color: #fff;
    border: 1px solid #0bf;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 200;
}
#cookies_configuration {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    font-size: 14px;
    background: #fff;
    color: #333;
    text-align: left;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0bf;
}
#cookies_configuration.hide {
    display: none;
}
#cookies_configuration h4 {
    display: none;
    font-size: 18px;
    margin-bottom: 10px;
}
#cookies_configuration p {
    margin-bottom: 30px;
    margin-right: 30px;
    font-weight: 300;
    font-size: 14px;
}
#cookies_configuration button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 20px;
    font-weight: 600;
    background: transparent;
    border: 1px solid #0bf;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    background: #fff;
}
#cookies_configuration button#cookies-accept {
    background: #0bf;
    color: #fff;
}
#cookies_configuration button:hover {
    opacity: 0.8;
}
@media (max-width: 767px) {
    #cookies_warning {
        justify-content: left;
        flex-wrap: wrap;
        padding: 10px 15px;
        height: auto;
    }
    #cookies_warning p {
        margin-bottom: 15px;
        margin-right: 0;
        text-align: left;
    }
    #cookies_warning a {
        margin-left: 0;
    }
}


.modal {
    display: none;
}

.modal.is-open {
    display: block;
    z-index: 100000;
}


.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    min-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}
@media (max-width: 767px) {
    .modal__container {
        width: 90%;
        min-width: inherit;
        max-width: none;
    }
}

.modal__close {
    background: transparent;
    border: 0;
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal__close:before { content: "\2715"; }

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
}


/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

#modal-cookies label{
    color: black;
}

#modal-cookies .c-checkbox--main{
    display: flex;
}

#modal-cookies label.checked{
    margin-left: 5px;
    font-size: 12px;
}
