

#booking-widget-promo-code{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;

}
#booking-widget-promo-code input[type="text"]{
    padding: 12px;
}


@media (min-width: 768px) {
    #booking-widget > .occupancy{
        width: 50%;
    }

    #booking-widget-promo-code{
        width: 50%;
    }

    #booking-widget > .submit{
        width: 100%;
    }
    

}

@media (min-width: 992px) {
    #booking-widget > .dates{
        width: 37.667%;
    }

    #booking-widget > .occupancy{
        width: 24%;
    }

    #booking-widget-promo-code{
        width: 22%;
    }

    #booking-widget > .submit{
        width: 16%;
    }

}





